
			.h1 {
				color: #33CCCC;
				text-align: center;
			}

			img {
				width: 400px;
				height: 400px;
			}

			.box1 {
				float: left;
			}

			.box2 {
				float: left;
				margin-left: 428px;
			}

			.box3 {
				float: right;
			}

			* {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			.box {
				background: greenyellow;
				/* overflow: hidden; */
			}

			.clearfix:after {
				content: "";
				display: block;
				clear: both;
			}

			.box li {
				float: left;
				margin-left: 30px;
			}

			.box ul {
				margin: 0 auto;
				width: 700px;
			}

			.box a:hover {
				color: blue;
				text-decoration: underline;

				display: block;
			}

			.box a {
				text-decoration: none;
				font-size: 50px;
			}

			p {
				font-size: 32px;
				font-family: “宋体”;
				color: #3F99D4;
			}
	