@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1540px;
    height: 70px;
    top: 0px;
    background-color: rgb(64, 66, 67);
    overflow: hidden;
    font-size: 20px;
    color: rgb(0, 0, 0);
    opacity: 0.8; 
    z-index: 1000;
}
.homenav{
    animation: load2 1s linear;
}

nav:hover{
    opacity: 0.95;
}
nav .navtitle{
    padding-left: 50px;
    width: 30%;
}
nav .navtitle strong{
    font-size: 60px;
    font-weight: bolder;
}
nav a{
   display: block;
   justify-content: center;
   text-decoration: none;
   z-index: 1;
   height: inherit;
   line-height: 70px;
   width: 120px;
   text-align: center;
   font-weight: bolder;
   color: rgb(255, 255, 255);
   transition: 0.5s;
}
 nav .navanim{
    position: absolute;
    height: inherit;
    z-index: 0;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    left: 1540px;
    transition:  all .7s ease 0s;
    width: 120px;
} 
nav .none,a:nth-child(1):hover~.navanim{
    width: 120px;
    left: 50px;
}

nav .角色,a:nth-child(2):hover~.navanim{
    width: 120px;
    left: 280px;
}

nav .地图,a:nth-child(3):hover~.navanim{
    width: 120px;
    left: 505px;
}

nav .DLC,a:nth-child(4):hover~.navanim{
    width: 120px;
    left: 730px;
}
nav .攻略,a:nth-child(5):hover~.navanim{
    width: 120px;
    left: 955px;
}
 
nav .none{
    width: 20%;
}


@keyframes load2{
    0%{
        top: -80px;
        opacity: 0;
    }100%{
        top: 0px;
        opacity: 0.8;
    }
}